.background-image {
    position: relative;
    background-image: url(img/mapit.jpeg);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1400px;
    height: 800px;
}

.buttonE {
    position: absolute;
    top: 500px;
    left: 350px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
}
.buttonE:hover{
    color: cornflowerblue;
    transition: .4s;
}

.buttonF {
    position: absolute;
    top: 273px;
    left: 660px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonF:hover{
    color: rgba(140, 55, 168, 0.841);
    transition: .4s;
}

.buttonS {
    position: absolute;
    top: 625px;
    left: 716px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonS:hover{
    color: rgba(245, 245, 38, 0.856);
    transition: .4s;
}

.buttonU {
    position: absolute;
    top: 310px;
    left: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonU:hover{
    color: rgba(214, 54, 59, 0.856);
    transition: .4s;
}

.buttonUA {
    position: absolute;
    top: 52%;
    left: 880px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonUA:hover{
    color: rgba(202, 148, 39, 0.856);
    transition: .4s;
}

.buttonJ {
    position: absolute;
    top: 310px;
    left: 1180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonJ:hover{
    color: rgba(215, 68, 205, 0.618);
    transition: .4s;
}

.buttonA {
    position: absolute;
    top: 610px;
    left: 1150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(201, 185, 173, 0.826);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 10px;
}
.buttonA:hover{
    color: rgba(8, 4, 187, 0.854);
    transition: .4s;
}

.buttonC {
    position: absolute;
    top: 705px;
    left: 1290px;
    background-color: rgba(201, 185, 173, 0.826);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}